@media screen and (max-width:768px){
    .nav_list {
        flex-direction: column;
        background-color: #333;
        gap: 0;
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
    }

    .abrir_menu {
        left: 0;
    }

    .header_nav {
        position: relative;
    }

    .nav_list li {
        padding: 8px;
    }

    .nav_list li a {
        width: 100%;
    }

    .cont_menu {
        display: flex;
    }

}
