/* Generales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: helveltica;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.ancho {
    max-width: 1200px;
    margin: auto;
}

.naranja {
    color: orange;
}

.rojo {
    color: #7e0827;
}

html {
    scroll-behavior: smooth;
}

.cont_boton1 {
    background-color: #d19800;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    bottom: 0%;
    right: 0%;
}

.ancla_boton1 {
    position: relative;
}

.cont_boton1 a {
    color: white;
}

/* header */

.header {
    /* border: 2px purple solid; */
    background-color: gray;
    padding: 10px;
}

.header_nav {
    background-color: #7e0827;
    height: 100%;
}

.cont_menu {
    background-color: #d19800;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.nav_list {
    /* border: 2px white solid; */
    gap: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    transition: .5s ease-out;
}

.nav_list li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 30px ;
}

/* Info */

.cont_info {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cont_info h1 {
    margin-top: 20px;
    text-align: center;
}

.cont_info article {
    display: flex;
    flex-direction: column;
    gap: 15px;
}




